
<section id="todoapp">
      <header id="header">
       PRODUCT: <select onchange={{action "add" value="target.value"}}>
            {{#each model.shop as |shop|}}
               <option value="{{shop.id}}">{{shop.product}}
               </option>
            {{/each}}
</select>
      </header>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section>
        <table>
          <th>SI.NO</th>
          <th>Product</th> 
          <th>Quantity </th> 
          <th>PRICE of 1</th>
          <th>COST(rs.)</th>
          <th>DELETE</th>
          {{#each model.bill as |bill|}}
          <tr>
             <td>{{bill.id}}</td>
             <td>{{bill.product}}</td>
             <td> <input type="number" min=1  placeholder="How much?" value={{kg}}  onchange={{action (action "updatePrice" bill ) value="target.value"}} /></td>
             <td>{{bill.price}}</td>
             <td>{{bill.cost}}</td>
             <button  type="button">Remove</button>       
         </tr>
         {{/each}}
       </table>
    </section>
    {{#link-to "customer" }}
  <h2>proceed to pay</h2>
  {{/link-to}}
{{outlet}}

