
<section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        {{input type="text" id="new-todo" placeholder="What needs to be done?" value=text  }}
       <button class="add" {{action "add" text}}>add</button>
      </header>
      
      <section id="main">
        
        <ul id="todo-list">
          {{#each this.model as |todo|}}
          <li>
             <input type="checkbox" class="toggle" onclick={{action "completeTodo" todo}} > 
             <label>{{todo.title}}</label>
             <button class="destroy" type="button" data-test="delete-post" 
             onclick={{action "deletePost" todo}}></button>       
         </li>
          {{/each}}
        </ul>


      </section>

      <footer id="footer">
       
            
      </footer>
    </section>

    <footer id="info">
      <p>Double-click to edit a todo</p>
    </footer>
      
  {{#link-to "todo.active"}}
  <h2>ACTIVE LIST</h2>
  {{/link-to}}


{{#link-to "completed" }}
  <h2>COMPLETED LIST</h2>
  {{/link-to}}
{{outlet }}
{{outlet "completed"}}
